@page "/library-members/add"

@using Library_Contract
@using Librarian_Blazor.Services

@inject ILibraryMemberService libraryMemberService
@inject NavigationManager navManager

<h3>Add new Member</h3>

<MemberForm model="@member" formType="MemberFormType.Add" HandleValidSubminAsync="@HandleValidSubminAsync"/>

@code {
	private LibraryMember? member { get; set; } = new()
	{
		BirthDate = DateTime.Today
	};

	private async Task HandleValidSubminAsync()
	{
		await libraryMemberService.AddLibraryMemberAsync(member);
		navManager.NavigateTo("library-members");
	}
}
