@page "/allbooks/{id:int}"
@using Library_DB
@using Client_Blazor.Services
@inject IBookService BookService


<h3>Available Books Details</h3>

@code {
    [Parameter]
    public int Id { get; set; }


    private Book Book { get; set; }


    protected override async Task OnInitializedAsync()
    {
        //TO-DO
    }
}
